.super-mario {
    width: 170px;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    margin-top: 300px;
    margin-left: 130px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    width: 250px;
    position: absolute;
    margin-top: 200px;
    margin-left: 350px;
    z-index: 3;
  }
  
  .speach {
    font-size: 20px;
    position: absolute;
    margin-top: 250px;
    margin-left: 370px;
    z-index: 4;
  }
  
  .bowser {
    width: 220px;
    margin-top: 290px;
    margin-left: 600px;
    position: absolute;
    z-index: 5;
  }